@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    display: grid;
    height: 100vh;
    grid-template-areas: "navBar"
                         "main"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 1fr 15vh;
}
/*NavBar*/
.nav{
    width: 100%;
    grid-area: navBar;
    position:fixed;
    background-color: #6226d9;
}
.logo{
    height: 5rem;
    width: 9rem;
    margin-left: 2rem;
}
.logo img{
    height: 100%;
    width: 100;
}
.listas{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 0.3rem;
}
a{
    color: white;
}
/*Main*/
.main{
    grid-area: main;
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.barra-seccion{
    width: 100%;
    background-color: #6226d9;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    font-weight: 300;
    padding-left: 2rem;
}
.container-icono{
    height: 2.5rem;
    width: 2.5rem;
}
.container-icono img{
    height: 100%;
    width: 100%;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    height: 29em;
    width: 14em;
    margin: 1rem;
}
.container-image{
    height: 65%;
}
.container-image img{
    height: 100%;
    width: 100%;
}
.container-texto{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 0.4em;
    padding-top: 1rem;
}
.boton{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}
.boton button{
    height: 2.5em;
    width: 9em;
    border-radius: 0.5em;
    background-color: #441b98;
    border-style: none;
    color: white;
}
.boton-ver-mas{
    height: 2rem;
    width: 6rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
/*Footer*/
.footer{
    grid-area: footer;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.direccion{
    display: flex;
    gap: 0.5rem;
}
.redes-sociales{
    letter-spacing: 0.5rem;
    margin: 1.5vh;
}
.redes-sociales i{
    font-size: 1.4rem;
}
@media (min-width:1024px) {
    body{
        display: grid;
        height: 100vh;
        grid-template-areas: "navBar main"
                             "navBar main"
                             "footer footer";
        grid-template-columns: 20vw 1fr;
        grid-template-rows: 15vh auto 15vh;
    }
    .nav{
        grid-area: navBar;
        display: flex;
        flex-direction: column;
        align-items: center;
        position:fixed;
        width: 20vw;
        height: 100vh;
    }
    .logo{
        height: 5rem;
        width: 9rem;
        margin-left: 2rem;
    }
    .logo img{
        height: 100%;
        width: 100;
    }
    .listas{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .main{
        display: flex;
        flex-direction: column;
        grid-area: main;
    }
    .productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .barra-seccion{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        height: 3rem;
        width: 100%;
        font-weight: 300;
        padding-left: 2rem;
    }
    .container-icono{
        height: 2.5rem;
        width: 2.5rem;
    }
    .container-icono img{
        height: 100%;
        width: 100%;
    }
    .container-tarjeta{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        flex-wrap: wrap;
    }
    .tarjeta{
        display: flex;
        flex-direction: column;
        height: 29em;
        width: 14em;
        border: 2px solid transparent;
        transition: border-color 0.5s;
    }
    .tarjeta:hover{
        height: 30em;
        width: 15em;
        animation: cambioColor 5s infinite linear;
    }
    .container-image{
        height: 65%;
    }
    .container-image img{
        height: 100%;
        width: 100%;
    }
    .container-texto{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        margin: 0.4em;
        padding-top: 1rem;
    }
    .boton{
        padding-top: 1rem;
        display: flex;
        justify-content: center;
    }
    .boton button{
        height: 2.5em;
        width: 9em;
        border-radius: 0.5em;
    }
    .boton button:hover{
        background-color: #306ee8;
        border-radius: 0.5em;
    }
    .boton-ver-mas{
        display: none;
    }
    .footer{
        grid-area: footer;
        color: white;
        background-color: #6226d9;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .direccion{
        display: flex;
        gap: 0.5rem;
    }
    .redes-sociales{
        letter-spacing: 0.5rem;
        margin: 1.5vh;
    }
    .redes-sociales i{
        font-size: 1.4rem;
    }
    .redes-sociales i:hover{
        font-size: 1.6rem;
        border: 3px solid white;
        border-radius: 50%;
        padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    }
    @keyframes cambioColor {
        0% {
            border-color: #00ccff;
        }
        25%{
            border-color: #c90469;
        }
        50% {
            border-color: #d500f9;
        }
        100% {
            border-color: #00ccff;
        }
    }
}